.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0.25);
    padding: 0.5rem;
    margin: 1rem 0;
    border-radius: 12px;
    background-color: #4b4b4b;
}
.inspect-num-one{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-end;
    flex-flow: column-reverse;
    justify-content: flex-start;
    flex: 1;
}
.inspect-num-one h2{
    flex: 1;
    margin: 0 1rem;
    font-size: 1rem;
    color: #fff;
}
.inspect-num-two{
    font-size: 1rem;
    border: 1px solid #fff;
    padding: 0.5rem;
    border-radius: 12px;
    background-color: #40005d;
    color: #fff;
}
@media (min-width:580px){
    .inspect-num-one{
        flex-direction: row;
        align-items: center;
        justify-content: center;
        justify-content: flex-start;
        flex: 1;
    }
    .inspect-num-one h2{
        font-size: 1.25rem;
    }
.inspect-num-two{
    font-size: 1.25rem;
    padding: 0.5rem 1.5rem;
}

}